h1{
    color: green;
}

#title-digital{
    color: black
}

.primary-color{
    color: black 
}

.secondary-color{
    color: red;
}

.bg-primary-color{
    background-color: green;
}

.bg-secondary-color{
    background-color: aqua;
}

#btn-submit{
    background-color: aquamarine;
}

#btn-submit:hover{
    background-color: blue;
}

#paragraph{
    color: red;
}

p{
    color: violet !important;
}