#container{
    background-color: gainsboro;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#container > div{
    background-color: green;
}

#container > div:nth-child(even){
    background-color: yellowgreen;
}

#container > #box-01{
    grid-column: 1/7;
}

#container > #box-02{
    grid-column: 1/7;
}

@media screen and (min-width: 769px) {
    #container > #box-01{
        grid-column: 1/5;
    }
    
    #container > #box-02{
        grid-column: 5/7;
        grid-row: 1/3;
    }
}



