/* Mobile */
/* 0px - 480px */
h1{
    color: green;
}

/* Tablet */
/* 481px - 768px */
@media screen and (min-width: 481px){
    h1{
        color: red;
    }
}

/* Large */
/* 769px - TidakTerhingga */
@media screen and (min-width: 769px){
    h1{
        color: blue;
    }
}