.relative{
    width: 150px;
    height: 150px;
    background-color: salmon;
}

.relative:nth-child(2){
    background-color: slateblue;
    position: relative;
    bottom: 180px;
}

#absolute{
    margin-top: 150px;
    background-color: gray;
    position: relative;
}

.absolute{
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
}

.absolute:nth-child(even){
    background-color: cadetblue;
    position: absolute;
    top: 10px;
}

.fixed{
    width: 100%;
    height: 50px;
    background-color: brown;
    color: white;
    position: fixed;
    top: 0px;
}

.sticky{
    width: 150px;
    height: 100px;
    position: sticky;
    top: 10px;
    background-color: blue;
}